
.card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}



.form {
    padding: 25px;
    border-radius: 5px;
    margin: 57px;
    border: black;
    border-style: outset;
  }
  .field {
    padding: 10px;
    margin: 17px;
  }

  .status{
    height: auto;
    margin: 0 auto;
    padding-left: 40%;
    color: rgb(67, 129, 5);
  }